<footer class="row">
    <div class="col  text-center footerOption"><a href="https://twitter.com/idlesband?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"></a><i class="fa fa-twitter" aria-hidden="true"></i></div>
    <div class="col  text-center footerOption"><a href="https://www.instagram.com/idlesband/?hl=en"></a><i class="fa fa-instagram" aria-hidden="true"></i></div>
    <div class="col  text-center footerOption"><a href="https://www.youtube.com/channel/UCVm7tYTZONPLVujGX0rAJdw"></a><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
    <div class="col text-center footerOption"><a href="https://open.spotify.com/artist/75mafsNqNE1WSEVxIKuY5C?si=hM2ALEmKRgecHS8IIIWh8Q"><i class="fa fa-spotify" aria-hidden="true"></i></a></div>
    <div class="col text-center footerOption"><a href="https://music.apple.com/us/artist/idles/538474829"><i class="fa fa-music" aria-hidden="true"></i></a></div>
</footer>