<nav class="row">
    <div class="col  text-center navOption"><a href="/">HOME</a></div>
    <div class="col text-center navOption"><a href="https://open.spotify.com/artist/75mafsNqNE1WSEVxIKuY5C?si=hM2ALEmKRgecHS8IIIWh8Q">ALBUMS</a></div>
    <div class="col text-center navOption"><a href="https://music.apple.com/us/artist/idles/538474829">VIDEOS</a></div>
</nav>