<nav class="row">
    <div class="col  text-center navOption"><a href="/">HOME</a></div>
    <div class="col text-center navOption"><a href="/videos">VIDEOS</a></div>
    <div class="col text-center navOption"><a href="/feedback">FEEDBACK</a></div>
</nav>