<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bootstrap Site</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <script src="https://use.fontawesome.com/9884b37efe.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="row">
        <div class="col  text-center mt-4"><a href="/">HOME</a></div>
        <div class="col text-center mt-4"><a href="https://open.spotify.com/artist/75mafsNqNE1WSEVxIKuY5C?si=hM2ALEmKRgecHS8IIIWh8Q">ALBUMS</a></div>
        <div class="col text-center mt-4"><a href="https://music.apple.com/us/artist/idles/538474829">VIDEOS</a></div>
    </nav>
<div class="row header">
    <div class="col-6">
        <h1>IDLES</h1>
        <img src="/images/band_img_2.jpg" alt="" width="100%">
    </div>
    <div class="col-6 about">
        <p>Idles are a British rock band formed in Bristol in 2009. The band consists of Joe Talbot (vocals), Mark Bowen (guitar), Lee Kiernan (guitar), Adam Devonshire (bass) and Jon Beavis (drums). Their debut album, Brutalism, was released in 2017 to critical acclaim, as was their second album Joy as an Act of Resistance in 2018. Their third album, Ultra Mono, was released on 25 September 2020. The band released their fourth album, Crawler, on 12 November 2021.</p>
    </div>
</div>
<div class="album-container row">

    <% albums.forEach(album => { %>
     
        <div class="col-6 album">
            <h2><%= album.albumName %> </h2>
            <a href="/albums/<%= album.shortname %>"><img src="/images/<%= album.shortname %>.jpeg" alt="<%= album.shortname %>"></a>
        </div>
    <% }) %>
    
</div>

<footer class="row">
    <div class="col  text-center mt-4"><a href="https://twitter.com/idlesband?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"></a><i class="fa fa-twitter" aria-hidden="true"></i></div>
    <div class="col  text-center mt-4"><a href="https://www.instagram.com/idlesband/?hl=en"></a><i class="fa fa-instagram" aria-hidden="true"></i></div>
    <div class="col  text-center mt-4"><a href="https://www.youtube.com/channel/UCVm7tYTZONPLVujGX0rAJdw"></a><i class="fa fa-youtube-play" aria-hidden="true"></i></div>
    <div class="col text-center mt-4"><a href="https://open.spotify.com/artist/75mafsNqNE1WSEVxIKuY5C?si=hM2ALEmKRgecHS8IIIWh8Q"><i class="fa fa-spotify" aria-hidden="true"></i></a></div>
    <div class="col text-center mt-4"><a href="https://music.apple.com/us/artist/idles/538474829"><i class="fa fa-music" aria-hidden="true"></i></a></div>
</footer>
</body>
</html>