*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(255, 136, 136); */
    background-color: beige;
    color: black;
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: rgb(255, 92, 92)
}

.logo{
    font-size: 19vw;
    margin: 0px;
    padding: 0px;
}
.videos-logo{
    font-size: 15vw;
    margin: 0px;
    padding: 0px;
}
.feedback-logo{
    font-size: 7vw;
}

img{
    margin-left: 15px;
    padding: 0px;
}
div{
    margin: 0px;
    padding: 0px;
}

.b-container{
    height: 75vh;
    top: 10vh
}

/* ! Navigation */
nav{
    background-color: black;
    height: 10vh;
    font-size: 20px;
}
.navOption{
    margin-top: 3vh;
}

/* ! Header and Footer */
.header{
    margin-bottom: 20px;
}
footer{
    background-color: black;
    height: 15vh;
    width: 100vw;
    font-size: 20px;
    margin-top: 10vh;
    bottom: 0px;
    
    
}
footer i{
   color: white;
   margin-bottom: 0px;
}

.footerOption{
    margin-top: 5vh;
}


.about{
    margin-top: 35%;
    min-width: 430px;
}

/* ! Album page */
.album-container{
    margin-bottom: 50px;
}
.album-container img{
    width: 316px;
}
.album-container img:hover{
    width: 318px;
    box-shadow: 0px 0px 15px rgb(255, 92, 92);
}

.album-container h2{
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 1vh;
}

.album{
    margin-bottom: 10px;
}
.album h1, h2, h3, i {
    margin-bottom: 2vh;
    margin-left: 15px;
}
.album p{
    margin-left:15px;
    padding: 15px;
    font-size: medium;
}
.album iframe{
    margin-top: 95px;
    
}
.music {
    padding-right:30px
}

.summary{
    width: 99vw;
}

/* ! Icons */
i{
    color: black;
}
i:hover{
    color: rgb(255, 92, 92)
}

/* ! Video page */
.video-container{
    margin-left: 15px;
    display: flex;
    justify-content: space-around;

}
.video{
    margin-bottom:20px;
    display: flex;
    justify-content: center;
}


.bandImg{
    margin-top: 5vh;
    width: 50vw;
}


/* ! Feedback page */
.feedback-container{
    margin-top: 5vh;
    margin-left: 15px;
}

.feedback-top{
    display: flex;
    align-items: center;
}
.feedback-top{
    font-size: 50px;
    padding-top: 75px;
}

.pink{
    background-color: rgb(255, 92, 92);
}


