body{
    font-family: 'Roboto', sans-serif;
    /* background-color: rgb(255, 136, 136); */
    background-color: beige;
    margin: 0px;
    padding: 0px;
    color: black;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: rgb(255, 92, 92)
}

h1{
    font-size: 19vw;
    margin: 0px;
    padding: 0px;
}
img{
    margin-left: 15px;
    padding: 0px;
}
div{
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: black;
    height: 10vh;
    font-size: 20px;
}
.navOption{
    margin-top: 3vh;
}

.header{
    margin-bottom: 20px;
}
footer{
    background-color: black;
    height: 15vh;
    font-size: 20px;
}
footer i{
   color: white;
}

.footerOption{
    margin-top: 5vh;
}

.about{
    margin-top: 35%;
    min-width: 430px;
}

.album-container{
    margin-bottom: 50px;
}
.album-container img{
    width: 316px;
}
.album-container img:hover{
    width: 318px;
    box-shadow: 0px 0px 15px rgb(255, 92, 92);
}

.album-container h2{
    margin-top: 30px;
    margin-left: 15px;
    margin-bottom: 1vh;
}

.album{
    margin-bottom: 10px;
}
.album h1, h2, h3, i {
    margin-bottom: 2vh;
    margin-left: 15px;
}
.album p{
    margin-left:15px;
    padding: 15px;
    font-size: medium;
}
.album iframe{
    margin-top: 95px;
    
}
.music {
    padding-right:30px
}

.summary{
    width: 99vw;
}

i{
    color: black;
}
i:hover{
    color: rgb(255, 92, 92)
}

.video-container{
    margin-left: 15px;
}
.video{
    margin-bottom:20px;
}

